{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block body %}

<!--Posts -->

{% if request.user.is_authenticated %}
    
    {% if files %}
    
        {% for file in files %}
        <div class="container my-4 alert alert-success"> 
            <div class="card">
                <h5 class="card-header">By {{file.user}}<a style="text-decoration:none; color:#DC3545;" href=""></a></h5>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'file-single' file.id %}">{{file.title}}</a></h5>
                    <p class="card-text">{{file.description}}</p>
                
                    <a href="{{file.id}}/view/media/{{file.file_field.url}}" class="btn btn-warning" target="_blank">View</a>
                    <a href="{{file.id}}/download/media/{{file.file_field.url}}" class="btn btn-info mx-4" download>Download</a>  
                </div>
            </div>
        </div>
        {% endfor %}
    
    {% else %}
    <h1 style="color:red">No one shared file with you </h1>
    {% endif %}
{% else %}

<h1 style="color: blue;">You have not logged in</h1>
    
{% endif %}`


{% endblock %}
